/* html {
    background-color: #141414 !important;
}

body {
filter: invert(100%) hue-rotate(180deg);
}

img:not(.icon-text, .icon-social),
video,
code {
filter: invert(100%) hue-rotate(180deg) contrast(100%);
} */

/* Set the background color of the HTML element */
html {
  background-color: #141414 !important;
}

/* Invert the colors of everything, except videos */
body:not(video) {
  filter: invert(100%) hue-rotate(180deg); 
}

/* Invert the colors of images and code blocks */
img:not(.icon-text, .icon-social), code {
  filter: invert(100%) hue-rotate(180deg) contrast(100%); 
}

/* Correct the colors of the embedded YouTube video */
video[src*="youtube"] {
  filter: invert(100%) hue-rotate(180deg) brightness(1.2); 
}

