/* html {
    background-color: #141414 !important;
}

body {
filter: invert(100%) hue-rotate(180deg);
}

img:not(.icon-text, .icon-social),
video,
code {
filter: invert(100%) hue-rotate(180deg) contrast(100%);
} */

/* Set the background color of the HTML element */
html {
  background-color: #141414 !important;
}

body {
filter: none;
/* filter: invert(100%) hue-rotate(180deg); */
}

img:not(.icon-text, .icon-social),
code {
filter: none;
/* invert(100%) hue-rotate(180deg) contrast(100%); */
}

video {
filter: none;
}
